.mainColor {
  background-color: #802c6e!important;
}

.cart {
  font-size: 23px;
  position: relative!important;
}

.cart span {
  margin: 0px 10px;
}

.cartBadge {
  position: absolute!important;
  top: -21px;
  right: -14px;
}

.cartTitle {
  min-height: 120px;
}